/* **** OVERALL THEME STYLING **** */
html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
    font-family: 'Roboto Serif', serif;
    color: var(--text-primary);
  }

h1, h2 {
    font-weight: 500;
}

h1 {
    font-size: 64px;
    padding-bottom: 32px;
}

h2 {
    font-size: 40px;
    line-height: 47px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-secondary);
}

.p1 {
    font-size: 24px;
    line-height: 32px;
}

.p2 {
    font-size: 18px;
    line-height: 28px;
}

.button1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--text-primary);
    font-size: 18px;
    background-color: var(--accent-white);
    border: solid 1px var(--accent-gray);
    border-radius: 50px;
    padding: 10px 26px;
}

.button2-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-primary);
    background-color: var(--background-gray);
    border: none;
}

.button2-dark {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--accent-black);
    color: var(--text-inverse);
    border-radius: 28px;
    padding: 14px 24px;
    margin-left: 84px;
}

/* **** GRID CONTAINER STYLING **** */
.grid-container {
    display: grid;
    grid-template-areas: 
    " . nav nav nav . "
    " . banner banner banner . "
    " . card1 card2 card3 . "
    " . card4 card5 card6 . "
    "footer footer footer footer footer";
    gap: 80px 40px;
    justify-items: center;
    align-items: center;
    grid-template-columns: 80px 1fr 1fr 1fr 80px;
}

/* **** NAV STYLINGS **** */
nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 26px;
  }

.buttons-left button {
    padding-right: 47px;
}

.nav-toggle {
    display: none;
}

.hamburger {
    display: none;
}

/* **** BANNER STYLINGS **** */
.banner {
    grid-area: banner;
    display: flex;
    align-items: center;
}

.banner-description {
    height: 440px;
    width: 600px;
    margin-right: 80px;
}

.banner-illustration img {
    height: 440px;
    width: 600px;
    object-fit: cover;
    border-radius: 40px;
}

/* **** COURSE CARDS CONTAINER STYLINGS **** */
.course-explore-card {
    grid-area: card1;
    background-color: var(--accent-gold);
    width: 400px;
    height: 324px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px;
    border-radius: 40px;
    line-height: 47px;
  }
  
.course-offering-card {
    background-color: var(--accent-white); 
    width: 400px;
    height: 324px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    position: relative;
    border-radius: 40px;
  }

.course-offering-card h3 {
    padding-bottom: 24px;
}

.course-offering-card p {
    height: 112px;
    width: 320px;
}

.course-offering-card button {
    margin-top: 32px;
}

.course-offering-card img {
    position: absolute;
    left: 75%;
    right: 87.5%;
    top: -12%;
    bottom: 10%;
  }

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

/* **** FOOTER BANNER **** */
.footer {
    grid-area: footer;
    background-color: var(--accent-gold);
    text-align: center;
    padding: 24px 0;
    width: 100%;
}