/* **** OVERALL THEME STYLING **** */
html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
    font-family: 'Roboto Serif', serif;
    color: var(--text-primary);
  }

h1, h2 {
    font-weight: 500;
}

h1 {
    font-size: 64px;
    padding-bottom: 32px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-secondary);
}

.p1 {
    font-size: 24px;
    line-height: 32px;
}

.p2 {
    font-size: 18px;
    line-height: 28px;
}

.button1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--text-primary);
    font-size: 18px;
    background-color: var(--accent-white);
    border: solid 1px var(--accent-gray);
    border-radius: 50px;
    padding: 10px 26px;
}

.button2-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-primary);
    background-color: var(--background-gray);
    border: none;
}

.button2-dark {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--accent-black);
    color: var(--text-inverse);
    border-radius: 28px;
    padding: 14px 24px;
}

/* **** GRID CONTAINER STYLING **** */
.grid-container {
    display: grid;
    grid-template-areas: 
    "nav"
    "banner"
    "course-cards-container"
    "footer";
    align-items: center;
}

/* **** NAV STYLINGS **** */
nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
    width: auto;
    padding-top: 30px;
    padding-bottom: 106px;
  }

.buttons-left button {
    padding-right: 47px;
}

/* **** BANNER STYLINGS **** */
.banner {
    grid-area: banner;
    display: flex;
    justify-content: center;
    margin: 0px 80px 120px 80px;
}

.banner-description {
    height: 440px;
    width: 600px;
    margin-right: 80px;
}

.banner-illustration {
    height: 440px;
    width: 600px;
}

/* **** COURSE CARDS CONTAINER STYLINGS **** */
.course-cards-container {
    grid-area: course-cards-container;
    display: flex;
    flex-wrap: wrap;
    margin: 0 80px;
    justify-content: center;
}

.course-explore-card {
    background-color: var(--accent-gold);
    width: 400px;
    height: 324px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px;
    border-radius: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
    line-height: 47px;
    box-sizing: border-box;
  }
  
.course-offering-card {
    background-color: var(--accent-white); 
    width: 400px;
    height: 324px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 40px;
    position: relative;
    border-radius: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
    box-sizing: border-box;
  }

.course-offering-card p {
    height: 112px;
    width: 320px;
}

.course-offering-card img {
    position: absolute;
    left: 75%;
    right: 87.5%;
    top: -12%;
    bottom: 10%;
  }

/* **** FOOTER BANNER **** */
.footer {
    grid-area: footer;
    background-color: var(--accent-gold);
    text-align: center;
    padding: 24px 0;
}