/* **** OVERALL THEME STYLING **** */
html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
    font-family: 'Roboto Serif', serif;
    color: var(--text-primary);
  }

h1, h2 {
    font-weight: 500;
}

h1 {
    font-size: 64px;
    padding-bottom: 32px;
}

h2 {
    font-size: 40px;
    line-height: 47px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-secondary);
}

.p1 {
    font-size: 24px;
    line-height: 32px;
}

.p2 {
    font-size: 18px;
    line-height: 28px;
}

.button1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--text-primary);
    font-size: 18px;
    background-color: var(--accent-white);
    border: solid 1px var(--accent-gray);
    border-radius: 50px;
    padding: 10px 26px;
}

.button2-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-primary);
    background-color: var(--background-gray);
    border: none;
}

.button2-dark {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--accent-black);
    color: var(--text-inverse);
    border-radius: 28px;
    padding: 14px 24px;
    margin-left: 84px;
}

/* **** MAIN CONTAINER STYLING **** */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* **** NAV STYLINGS **** */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px 106px 0px;
    padding: 0px 80px;
    width: 100%;
  }

.buttons-left button {
    padding-right: 47px;
}

.logo img {
    height: 40px;
}

.hamburger-menu {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--text-primary);
    font-size: 16px;
}

/* **** BANNER STYLINGS **** */
.banner {
    display: flex;
    align-items: center;
    margin: 0px 80px 120px 80px;
    width: 1280px;
    justify-content: space-between;
}

.banner-description {
    height: 440px;
    width: 600px;
}

.banner-illustration img {
    height: 440px;
    width: 600px;
    object-fit: cover;
    border-radius: 40px;
}

/* **** GRID CONTAINER & COURSE CARDS STYLING **** */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px 40px;
    margin-bottom: 118px;
}

.course-explore-card {
    background-color: var(--accent-gold);
    width: 400px;
    height: 324px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px;
    border-radius: 40px;
    line-height: 47px;
  }
  
.course-offering-card {
    background-color: var(--accent-white); 
    width: 400px;
    height: 324px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    position: relative;
    border-radius: 40px;
  }

.course-offering-card h3 {
    padding-bottom: 24px;
}

.course-offering-card p {
    height: 112px;
    width: 320px;
}

.course-offering-card button {
    margin-top: 32px;
}

.course-offering-card img {
    position: absolute;
    left: 75%;
    right: 87.5%;
    top: -12%;
    bottom: 10%;
  }

/* **** FOOTER STYLINGS **** */
.footer {
    background-color: var(--accent-gold);
    text-align: center;
    padding: 24px 0;
    width: 100%;
}

.footer img {
    height: 32px;
}