/* **** OVERALL THEME STYLING **** */
h1 {
    font-size: 48px;
    padding-bottom: 24px;
}

h2 {
    font-size: 32px;
    line-height: 37px;
}

h3 {
    font-size: 20px;
}

.p1 {
    font-size: 20px;
    line-height: 32px;
}

.p2 {
    font-size: 16px;
    line-height: 24px;
}

.button1 {
    font-size: 16px;
    padding: 6px 24px;
}

/* **** NAV STYLINGS **** */
.nav {
    margin: 30px 0px 86px 0px;
    padding: 0px 40px;
  }

/* **** BANNER STYLINGS **** */
.banner {
    flex-direction: column;
    align-items: center;
    margin: 0 40px 72px 40px;
    width: auto;
}

.banner-description {
    text-align: center;
    margin-right: 0px;
    margin-bottom: 60px;
    height: auto;
}

.banner-illustration img {
    height: 360px;
    width: 688px;
    object-fit: cover;
    border-radius: 32px;    
}

/* **** GRID CONTAINER & COURSE CARDS STYLING **** */
.grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 56px 24px;
    margin-bottom: 80px;
}

.course-explore-card {
    width: 332px;
    height: 263px; 
    border-radius: 32px;
}

.course-explore-card h2 {
    height: 111px;
    width: 268px;
}

.course-offering-card {
    width: 332px;
    height: 263px; 
    padding: 32px;
    border-radius: 32px;
}

.course-offering-card h3 {
    padding-bottom: 16px;
}

.course-offering-card p {
    height: 96px;
    width: 268px;
}

.course-offering-card button {
    margin-top: 24px;
}

/*
.course-offering-card img {
    left: 67%;
    right: 80%;
    top: -15%;
    bottom: 5%;
  }
  */

  .course-offering-card img {
    left: 72.9%;
    right: 88.5%;
    top: -15%;
    bottom: 8%;
    height: 60px;
  }