/* **** OVERALL THEME STYLING **** */
h1 {
    font-size: 36px;
    padding-bottom: 16px;
}

h2 {
    font-size: 24px;
}

.p1 {
    font-size: 18px;
    line-height: 24px;
}

/* **** NAV STYLINGS **** */
.nav {
    position: relative;
    justify-content: center;
    margin: 30px 0px 56px 0px;
    padding: 0px 0px;
}

.buttons-left {
    display: none;
}

.logo img {
    height: 32px;
}

.button2-dark {
    display: none;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    display: block;
}

.hamburger {
    display: block;
    background: #000;
    width: 2.2em;
    height: 3px;
    position: absolute;
    top: 6px;
    right: 24px;
    border-radius: 8px;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: #000;
    width: 2.2em;
    height: 3px;
    border-radius: 8px;
}

.hamburger::before { top: 8px; }
.hamburger::after { bottom: 8px; }


/* **** BANNER STYLINGS **** */
.banner {
    margin: 0 24px 40px 24px;
}

.banner-description {
    width: 342px;
    margin-right: 0px;
    margin-bottom: 32px;
}

.banner-illustration img {
    height: 220px;
    width: 342px;
    object-fit: cover;
    border-radius: 24px;    
}

/* **** GRID CONTAINER & COURSE CARDS STYLING **** */
.grid-container {
    grid-template-columns: 1fr;
    gap: 64px 0px;
    margin-bottom: 60px;
}

.course-explore-card {
    width: 342px;
    height: 132px; 
    border-radius: 24px;
    padding: 24px;
}

.course-explore-card h2 {
    height: 84px;
    width: 268px;
    line-height: 24px;
}

.course-offering-card {
    margin-bottom: 24px;
    width: 342px;
    height: 247px; 
    padding: 24px;
    border-radius: 24px;
}

.course-offering-card p {
    height: 96px;
    width: 294px;
}

/* **** FOOTER STYLINGS **** */
.footer img {
    height: 24px;
}